*{
    font-family: Comic Sans MS;
}
body{
    background-image: url("barnana.gif");
}
#wrapper{
    margin: 0 auto;
    width: 1200px;
    overflow: auto;
}
.dag {
    float: left;
    border: 1px solid black;
    width: 150px;
    height: 100px;
    background-color: pink;
}
.stay_hidden{
    visibility: hidden;
}
.dagnamn{
    width: 150px;
    float:left;
}